[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "dep/nfde"]
	path = dep/nfde
	url = https://github.com/btzy/nativefiledialog-extended
